/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.background1{
	-fx-background-color: #ffffff;
}

.font1{
	-fx-font-size: 20.0px;	
}

.textfield1{
	
}

.textfield1-label{
	-fx-font-size: 12px;
	-fx-background-color: white;
	-fx-padding: 5.0px;
}

.textfield1-textfield{
	-fx-border-color: black;
}

Button {
	-fx-cursor: hand;
	-fx-font-size: 11px;	
}

.btn1{
	-fx-background-color: rgba(0.0,0.0,0.0,0.0);
	-fx-text-fill:#6735fb;
	-fx-border-color:#6735fb;
	-fx-border-width: 1.0px 0.0px 1.0px 1.0px;
}

.btn1:hover{
	-fx-border-width: 2.0px;
	-fx-border-color: #2c00ad;
}

.btn1:pressed{
	-fx-border-color: #2c00ad;
	-fx-border-style: solid;
	-fx-border-width: 3.0px 0.0px 1.0px 2.0px;
}


.btn2{
	-fx-background-color: #FFFFFF;
	-fx-text-fill:#0044FF;
	-fx-border-color: #0022FF;
	-fx-border-radius : 10.0px;
}
.btn2:hover{
	
	-fx-border-width: 2.0px;
	-fx-border-color: #0099FF;
}
.btn2:pressed{
	
	-fx-border-color: #0099FF;
	-fx-border-style: solid;
	-fx-border-width: 3.0px 3.0px 3.0px 3.0px;
}


.btn3{
	-fx-border-radius : 2.0px;
	-fx-background-color: #000000;
	-fx-border-style: solid;
	-fx-border-color: #000000;
	-fx-text-fill: #FFFFFF;
}.btn3:hover{
	-fx-border-color:#737373;
	-fx-background-color: #737373;
	
}.btn3:pressed{
	-fx-border-color:#808080;
	-fx-background-color: #808080;
}

.Togglebtn { 
    -fx-background-color:  #262626;
}
.Togglebtn:hover { 
    -fx-background-color: red;
}

.Togglebtn:pressed {
    -fx-background-color: blue;
}

.table-view{
  -fx-background-color: transparent;
  -fx-border-color: #ccc;
  -fx-border-width: 2.0 0.0 0.0 0.0;
}

.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
.table-view-focused	{
  -fx-cell-size: 34.0px;
  -fx-border-width: 0.0 0.0 1.0 0.0;
  -fx-border-color: #ccc;
}
.table-row-cell	{
  -fx-cell-size: 30.0px;
  -fx-text-fill: black;
}
.table-view .column-header{
  -fx-pref-height: 30.0px;
  -fx-border-color: #bfbfbf;
  -fx-border-width: 0.0 0.0 1.0 0.0;
}

.coinTypeTable .column-header{
	-fx-background-color: #BBCCFC;
	-fx-border-color: #14399D;
}

.salebtn{
	-fx-background-color: ff2828;
	-fx-border-radius: 10.0px;
	-fx-text-fill: #FFFFFF;
}.salebtn:hover{
	-fx-background-color: #FF5252;
}.salebtn:pressed{
	-fx-background-color: #FF0000;
}
Line{
	-fx-stroke: #23293A;
}


.purchasebtn{
	-fx-background-color: #2828FF;
	-fx-border-radius: 10.0px;
	-fx-text-fill: #FFFFFF;
}.purchasebtn:hover{
	-fx-background-color: #5252FF;
	
	
}.purchasebtn:pressed{
	-fx-background-color: #0000FF
}










